.pagination-container {
  background-color: #f3f3f3;
  border-top: 1px solid #dddbda;
}

.page-input {
  width: 60px;
  display: inline-block;
  margin: 0 0.25rem;
}

.page-input input {
  text-align: center;
}
